@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.dark {
  --background-color: black;
  --text-color: white;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

video {
  width: 600px;
  height: 400px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}